@model MccoysStoreApp.Models.Store
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>NUMBER: @Model.StoreNumber</h2>
    <h2>NAME: @Model.StoreName</h2>
    <h2>MANGERNAME: @Model.StoreManagerName</h2>
    <h2>OPENINGTIME: @Model.OpeningTime</h2>
    <h2>CLOSINGTIME: @Model.ClosingTime</h2>
</body>
</html>